.precio{
    color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
li{
    text-align: center;
    
}
a{
    color: black;
}
h3{
    text-align: center;
}

.foto{
    height: 300px;
}